body{
    height:auto;
    /* background-color: linen; */
    background-image: url('../images/party-background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.container{
    width:60%;
    margin:10% auto;
    text-align: center;
    background-color:transparent;
    max-height: 50%;
}
.welcome{
    padding-top:30px;
    padding-bottom: 30px;
}
.message{
    padding-bottom: 30px;
    font-family: 'Audiowide', cursive;
    font-size: 7em;
    color:greenyellow;
}
.button {
    background-color: purple;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    border-radius: 5px;
    width:200px;
}
.current{
    padding-top:30px;
    font-family: 'Overlock', cursive;
    color:green;
    font-size: 25px;
}
.timer{
    padding-top:30px;
    font-family: 'Overlock', cursive;
    color:red;
    font-size: 25px;
}
#trivia{
    padding-bottom: 20px;
}
.question-style{
    padding-top:30px;
    font-family: 'Overlock', cursive;
    font-size: 30px;
    color: purple;
}
.options-style{
    font-family: 'Overlock', cursive;
    font-size:30px;
    padding-bottom: 10px;
    color:plum;
}
#options div{
    width:50%;
    margin:0 auto;
    padding:10px;
}
#options div:hover{
    background-color: purple;
    color:white;

}
.comment{
    padding-top:30px;
    font-family: 'Overlock', cursive;
    font-size: 40px;
    color:blue;
    padding-bottom: 30px;
    font-weight: bolder;
}
#answer{
    padding-top:30px;
    font-family: 'Overlock', cursive;
    font-size: 40px;
    color:red;
    padding-bottom: 30px;
    font-weight: bolder;
}
.scoreBoard{
    padding-top:30px;
    padding-bottom: 30px;
}
#correct{
    padding-top:30px;
    font-family: 'Overlock', cursive;
    font-size: 30px;
    color: green;
    font-weight: bolder;
}
#inCorrect{
    padding-top:30px;
    font-family: 'Overlock', cursive;
    font-size: 30px;
    color: red;
    font-weight: bolder;
}
#unAnswered{
    padding-top:30px;
    font-family: 'Overlock', cursive;
    font-size: 30px;
    color: pink;
    font-weight: bolder;
}
#startOver{
    background-color: purple;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 2px;
    border-radius: 5px;
    width:200px;
}